<strong><h3>The current longest post is:</h3></strong></br>
<strong>Post number:</strong> no. <%= Post.longest_description.id %></br>
<strong>By user:</strong> <%= Post.longest_description.username %></br></br>
<strong>Caption:</strong> <%= Post.longest_description.description %>