.insta-post {
  margin-top: 15px;
  margin-bottom: 15px;
}

.post-meta {
  background: #fff;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ddd;

  img {
    margin-right: 10px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}

.post-details {
  background: #fff;
  border: 1px solid #ddd;
  padding: 12px;
}
