<h1 class="mt-5">Mattygram...</h1>
        <p class="lead">Register or sign in to get started.</p>
<%= link_to 'Sign Up', new_account_registration_path, class: 'btn btn-success' %>
<%= link_to 'Sign In', new_account_session_path, class: 'btn btn-secondary' %>